{% url 'productos:home' as home %}
{% url 'productos:acerca' as acerca %}
{% url 'productos:producto_nuevo' as nuevo %}
<!--{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %} -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ home }}">Home</a>
          </li>
          <li class="nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
            </a>
            <ul class="dropdown-menu alert-dark" aria-labelledby="navbarDropdown">
              {% for resultado in categorias %}
                <li><a class="dropdown-item alert-link" href="/resultado/?q={{ resultado }}">{{ resultado.descripcion }}</a></li>
              {% endfor %}            
            </ul>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ acerca }}">Acerca de</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ nuevo }}">Nuevo Producto</a>
          </li>
        </ul>
        <form   method='GET' action="{% url 'productos:resultado' %}"  class="d-flex">
            <input class="form-control me-2" type="search" name='q' placeholder="Search" aria-label="Search"  value="{{ request.GET.q }}">
            <button class="btn btn-outline-success me-3" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>