html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: [footer-height];
}
footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: [footer-height];
}
footer,
header,
nav {
  color: darkgray !important;
  font-weight: bold;
}
#descripcion{
  height: 100px;
}
@media (max-width: 768px) {
  .espaciado{
    margin-bottom: 8%;
  }
  .abajo {
    margin: 15%!important;
    padding: 1%;
  }
  .abajo2 {
    margin: 45%!important;
    padding: 1%;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .centrado {
    display: flex;
    flex-direction: column;
  }
  .fila {
    display: flex;
    flex-direction: row;
  }
  #descripcion{
    height: 180px;
  }
}
.listado {
  padding-bottom: 15%;
  margin-bottom: 10%;
}
.formulario {
  padding-bottom: 2em!important;
  margin-bottom: 5em!important;
}

.btn-rebel{
 margin-left: 12em!important; 
}

