{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card mt-5 container gap-3">
    <h5 class="card-header text-center">{{ producto.titulo }}</h5>
    <div class="card-body me-3">
        <img src="{{ producto.imagen.url }}" class="rounded float-start me-5" width="262" height="180" alt="{{ producto.titulo }}">   
        <h5 class="card-title">{{ producto.categoria }}</h5>
        <p class="card-text mb-5">{{ producto.descripcion }}</p>
        <div class="d-flex justify-content-between">
           <div class="col">
                <span>Precio: $ {{ producto.precio }}</span>
           </div>
           <div class="col d-flex justify-content-end">
               {% for group in user.groups.all %}
                    {% if group.name == 'Moderador' %}
                         <a href="/editar_producto/{{ producto.id }}" class="btn btn-warning">Editar</a>
                         <a href="/borrar_producto/{{ producto.id}}" class="btn btn-danger ms-3">Borrar</a>
                    {% endif %}
               {% endfor %}
                <a href="#" class="btn btn-success ms-3">Agregar al Carrito</a>
           </div>
        </div>
    </div>
  </div>
{% endblock %}