{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card container mt-5">
    <div class="card-header text-center ">
        <h5 class="card-title">Acerca de JKSA</h5>
    </div>
    <div class="card-body ">    
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis asperiores error nisi accusamus? Similique dignissimos voluptatem reiciendis dolore magnam! Soluta aliquam quasi placeat eaque consectetur laboriosam voluptatem mollitia odio quidem?</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum sequi tempore dolor soluta aperiam est vitae autem quis culpa earum, vel et at quaerat. Eos similique aperiam dolorum cumque voluptates!</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis nesciunt vero ea accusantium magnam pariatur, aperiam perspiciatis sunt cumque debitis necessitatibus temporibus atque corrupti vitae impedit ab et similique!</p>
        <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam at, a ipsum doloribus maiores architecto, recusandae natus facilis nam, id quae? Sunt nostrum fugit numquam nisi vero amet repellendus fugiat.</p>
    </div>
</div>
<div class="abajo2"></div>

{% endblock %}